name: wise_app
description: "Wise App"
publish_to: 'none'
version: 1.0.0+1

environment:
  sdk: ^3.5.3

dependencies:
  flutter:
    sdk: flutter
  cupertino_icons: ^1.0.8
  keyboard_dismisser: ^3.0.0
  google_fonts: ^6.2.1
  flutter_riverpod: ^2.5.3
  flutter_screenutil: ^5.9.3
  flutter_svg: ^2.0.10+1

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^4.0.0

flutter:
  uses-material-design: true
  assets:
    - assets/icons/
    - assets/images/
    - assets/icons/flags/
    - assets/images/avatars/
    - assets/images/illustrations/
    - assets/images/logo/
